
<div class="container_items">
<section class='container_item'>
  <div class='container_outer'>
  <div class='container_image'>User Image</div>
  <div class='container_inner'>
    <h1 class='container_name'><a href="/<%= @users %>"><%= @user.name %></a></h1>
    <h3 class='container_counter'>
    <span><%= link_to 'New Post', new_user_post_path(@user.id), class: 'container_link_post' %></span>
    Number of posts:<%= @user.posts_counter %>
    </h3>
    </div>
    </div>
    
</section>

<section class='container_item'>
  <div class='container_bio'>
    <h4 class='container_bio_h4'>Bio</h4>
    <p class='container_bio_p'><%= @user.bio %></p>
  </div>
</section>


<section class='container_item'>
  <div class='container_post'>
      <% @posts.each do |post| %>
        <div class='container_post_item'>
        <%= link_to user_post_path(@user, post), class: 'container_user_post_path' do %>
          <div>
          <h5>Post # <%= post.id %>
          <span>
          <p><%= post.text %></p>
            <span class='container_counter'>Comments: <%= post.comments_counter %></span>&nbsp;
            <span class='container_counter'>Likes: <%= post.likes_counter %></span>
          </span>
          </h5>
        </div>
        <% end %>
        </div>
        <% end %>
        </div>
        
        </section>
        <div class='container_link_all_posts'>
        
        <a href="/users/<%=@user.id%>/posts" class= 'container_link_post_all'>
        See All Posts
        </a>
          </div>

</div>


