
<div>
<section id='container_item'>
  <div id='container_image'>User Image</div>
  <div id='container_inner'>
    <h1 id='container_name'><a><%= @user.name %></a></h1>
    <h2 id='container_counter'>Number of posts:<%= @user.posts_counter %></h2>
    <%= link_to 'New Post', new_user_post_path(@user), class: 'btn btn-primary' %>
  </div>
</section>

<section id='container_bio'>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
</section>

<section id='container_post'>
 <ul>
   <% @user.posts.each do |post| %>
     <li>
       <h3>Post <%='#'%><%= post.id %></h3>
       <p> <%= post.text %></p>
       <div>
       <span>Comments: <%= post.comments_counter %></span>&nbsp;
       <span>Likes: <%= post.likes_counter %></span>
       </div>
     </li>
   <% end %>
 </ul>
 <button>
 See all posts
 </button>
</section>
</div>

