<main class="container_new_post">
  <%= notice %>
  <div>
    <h2>New Post</h2>
    <%= form_with model: Post, url: user_posts_path, method: :post, local: true do |f| %>
        <div class="input">
          <%= f.text_field :title, placeholder: "Title", class: 'input_title' %>
        </div>
        <div class="input">
          <%= f.text_area :text, placeholder: "Text", class: 'input_area' %>
        </div>
        <%= f.submit "Create Post", class: 'post_submit' %>
        <% end %>
    </div>
    </main>
    