
<div>
<section id='container_bio'>
  <div>
    <h1>Post: <%= @post.title %> (#<%= @post.id %>) by <%=@user.name%></h1>
    <span>Comments: <%= @post.comments_counter %></span>
    <span>Likes: <%= @post.likes_counter %></span>
    <%= render partial: 'likes/like', locals: { post: @post } %>
  </div>
  <p><%= @post.text %></p>
</section>

<section>
<h2>Comments</h2>
<ul>
<% @post.comments.each do |comment| %>
  <li>
    <span><%= comment.author_id%>: <%= comment.text %></span>
  </li>
<% end %>
</ul>
<div class="new_comment">
  <h3>Add New Comment</h3>
  <%= render partial: 'comments/comment', locals: { post: @post } %>
</div>
</section>
</div>