
<div class='container_item'>
<section class='container_bio_post_show'>
  <div class='container_posts_desc_likes'>
    <div>
    <h1>Post: <%= @post.title %> (#<%= @post.id %>) by <%=@user.name%></h1>
    <span>Comments: <%= @post.comments_counter %></span>
    <span>Likes: <%= @post.likes_counter %></span>
    </div>
    <div class="container_like_btn">
    <%= render partial: 'likes/like', locals: { post: @post } %>
    </div>
  </div>
  <p><%= @post.text %></p>
</section>
<% if can? :destroy, @post %>
            <%= form_with model: @post, url: user_post_path(@user.id, @post.id), method: :delete do |form| %>
              <%= form.submit "Delete Post", class: "see" %>
            <% end %>
          <% end %>  

<section class='container_post_show_comments'>
<h2>Comments</h2>
<ul class='post_show_comments'>
<% @comments.each do |comment| %>
  <li>
    <span><%= comment.author.name %>: <%= comment.text %></span>
    <% if can? :destroy, comment %>
    <%= form_with model: comment, url: user_post_comment_path(@user.id, @post.id, comment.id), method: :delete do |form| %>
      <%= form.submit "Delete", class: "see" %>
    <% end %>
  <% end %>
  </li>
<% end %>
</ul>
<div class="new_comment">
  <h3>Add New Comment</h3>
  <div class="new_comment_form">
  <%= render partial: 'comments/comment', locals: { post: @post } %>
  </div>
</div>
</section>
</div>
<div class='back_link'>
<%= link_to 'Back To Main', root_path %>
</div>
